* {
    margin: 0;
    padding: 0;
}
.box {
    width: 48%;
    height: 400px;
    margin: 0 auto;
}
.iconbox {
    width: 200px;
    height: 200px;
}
iconbox img {
    width: 100%;
}
ul {
    display: inline-block;
    padding: 20px;
}
li {
    list-style: none;
    display: inline-block;
    margin: 50px;
}
h4 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}
h4>a {
    text-decoration: none;
    color: grey;
}
h4>a:hover {
    font-size: 36px;
    color: #118cdd;
}
.iconbox {
    opacity: .7;
}
.iconbox:hover {
    opacity: 1;
}